<div class="back">
    <app-navbar></app-navbar>

    <div class="container mb-5 text-dark animated fadeInUp">
        <section class="product">
            <div class="product__photo">
                <div class="photo-container">
                    <div class="photo-main">
                        <img src="{{ data?.img }}" style="width: 100%; " />
                    </div>
                </div>
            </div>
            <div class="product__info">
                <div class="price">
                    <div class="text-right">
                        <button
                            *ngIf="isOwner"
                            class="btn btn-outline-danger btn-sm m-2"
                            (click)="delete()"
                        >
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                    <span>{{ data.title }}</span>
                    <div class="text-right">
                        {{ data.likes }}
                        <i class="far fa-thumbs-up like" (click)="like()"></i>
                    </div>
                </div>
                <div class="title font-italic pt-3">
                    <h1>{{ data.subtitle }}</h1>
                </div>
                <div class="description">
                    <span *ngIf="!isWatchlist">
                        <p *ngFor="let body of data.body">
                            {{ body }}
                        </p>
                    </span>
                    <span *ngIf="isWatchlist">
                        <h5 *ngIf="data.body.length" class="font-weight-bold">
                            Movies/TV shows:
                        </h5>
                        <ul *ngFor="let body of data.body">
                            <li style="font-size: 15px;">
                                <p
                                    (mouseover)="toggleMovieHover()"
                                    style="display: inline;"
                                >
                                    {{ body }}
                                </p>
                                <!--                                 <button
                                    *ngIf="movieHover"
                                    class="btn btn-sm btn-outline-danger"
                                    (click)="deleteFromWatchlist(body)"
                                    style="font-size: 10px;"
                                >
                                    <i class="far fa-trash-alt"></i>
                                </button> -->
                            </li>
                        </ul>
                    </span>
                    <hr />
                    <p class="lead">{{ data.footer }}</p>
                </div>
            </div>
        </section>
    </div>

    <app-footer></app-footer>
</div>
