<div class="back">

  <app-navbar></app-navbar>

  <div class="container-fluid" id="trendingNow">

    <!-- T R E N D I N G N O W  -->
    <div class="row">
      <div class="title">
        <p class="ml-5 pl-5">
          <img style="opacity: 1; filter: alpha(opacity=100); " src="../../../assets//img/video-camera.png" height="80">
          <!-- 🎬 --> TRENDING NOW</p>
      </div>
    </div>

    <div class="row">
      <div class="col w-100">
        <carousel>
          <slide *ngFor='let three of topThree'>
            <img [src]="three.poster" alt="first slide"
              style="display: block; height: 600px; width: 100%; object-fit: cover;">
            <div class="carousel-caption d-none d-md-block">
              <h3><a (click)='goToMovie(three.id)'>{{three.title}}</a></h3>
              <p class="lead">{{three.overview}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

    <div class="container-fluid" id="airingOnTv">
      <div class="row p-1 m-5">
        <div class="col d-flex" *ngFor='let five of topFive'>
          <div class="card" style="height: 570px;">
            <a class="c-preview">
              <img [src]="five.poster" class="card-img-top c-preview__img" alt="..." height="300"
                style="object-fit: cover;">
            </a>
            <div class="card-body">
              <div class="row p-1">
                <h5 class="card-title">{{five.title}}</h5>

                <p class="card-text lead">{{five.overview}}</p>
                <div class="ml-2 pl-2">
                    <a (click)='goToMovie(five.id)'>
                  <button class="learn-more">
                    <div class="circle">
                      <span class="icon arrow"></span>
                    </div>
                    <p class="button-text">Learn More</p>
                  </button>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- A I R I N G O N T V -->
    <div class="container-fluid">

      <div class="row">
        <div class="titleRight w-100">
          AIRING ON TV
          <!-- 📺 -->
          <img style="opacity: 1; filter: alpha(opacity=100); padding: 10px;" src="../../../assets/img/tv.png"
            height="80">

        </div>
      </div>

      <div class="row">
        <div class="col w-100">
          <carousel>
            <slide *ngFor='let three of topThreeTv'>
              <img [src]="three.poster" alt="first slide"
                style="display: block; height: 600px; width: 100%; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h3><a (click)='goToMovie(three.id)'>{{three.name}}</a></h3>
                <p class="lead">{{three.overview}}</p>
              </div>
            </slide>
          </carousel>
        </div>
      </div>


    </div>
    <div class="container-fluid" id="airingOnTv">
      <div class="row p-2 m-5">
        <div class="col d-flex" *ngFor='let five of topFiveTv'>
          <div class="card" style="height: 570px;">
            <a class="c-preview">
              <img [src]="five.poster" class="card-img-top c-preview__img " alt="..." height="300"
                style="object-fit: cover;">
            </a>
            <div class="card-body">
              <div class="row p-2">
                <h5 class="card-title">{{five.name}}</h5>
                <p class="card-text lead" style="overflow:hidden;">{{five.overview}}</p>
                <div class="ml-2 pl-2">
                  <a (click)='goToMovie(five.id)'>
                    <button class="learn-more">
                      <div class="circle">
                        <span class="icon arrow"></span>
                      </div>
                      <p class="button-text">
                        Learn more</p>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>