{
    "useTabs": false,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "parser": "babel",
    "singleQuote": true,
    "semi": false,
    "overrides": [{
        "files": "*.js*",
        "options": {
            "trailingComma": "all"
        }
    }]
}