.back {
    background-image: url("../../../assets/img/bg/14.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-bottom: 125px;
    min-height: 100vh;
    padding-bottom: 155px;
    min-width: 100vw;
    width: 100%;
}

.card-title {
    font-weight: bold;
    font-size: 21px;
}

.card-subtitle{
    font-style: italic;
    font-size: 18px;
    border-bottom: 2px solid palevioletred;
}

.card-body {
    font-size: 13px;
}

img {
    object-fit: scale-down;
    max-width: 100%;
}