.back {
    background-image: url("../../../assets/img/bg/14.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-bottom: 125px;
    min-height: 100vh;
    padding-bottom: 155px;
    min-width: 100vw;
    width: 100%;
}

.card {
    background-color: rgba(250, 235, 215, 0.75);
}

.card:hover {
    background-color: rgba(250, 235, 215, 1);
    transform: scale(1.1);
    transition: 0.7s all;
    cursor: pointer;
}

.card-title {
    font-weight: bold;
    font-size: 21px;
}

.card-subtitle {
    font-style: italic;
    font-size: 18px;
    border-bottom: 2px solid palevioletred;
}

.card-body {
    font-size: 13px;
}

img {
    object-fit: scale-down;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.pagination-wrapper {
    text-align: right;
    margin: 10px;
}

.pagination {
    display: inline-block;
    height: 70px;
    margin-top: 20px;
    padding: 0 25px;
    border-radius: 15px;
    background-color: #eee;
}
@media only screen and (max-width: 1199px) {
    .pagination {
        height: 50px;
        margin-top: 30px;
        padding: 0 10px;
        border-radius: 15px;
    }
}

.fill:hover {
    cursor: not-allowed;
}

.page-numbers {
    display: block;
    padding: 0 25px;
    float: left;
    transition: 400ms ease;
    color: #595959;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 70px;
}

.page-numbers:hover,
.page-numbers.current {
    background-color: palevioletred;
    color: #fff;
}
.page-numbers.prev:hover,
.page-numbers.next:hover {
    background-color: transparent;
    color: palevioletred;
}

@media only screen and (max-width: 1199px) {
    .page-numbers {
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
    }
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
    .page-numbers {
        padding: 0 14px;
        display: none;
    }
    .page-numbers:nth-of-type(2) {
        position: relative;
        padding-right: 50px;
    }

    .page-numbers:nth-child(-n + 3),
    .page-numbers:nth-last-child(-n + 3) {
        display: block;
    }
    .page-numbers:nth-last-child(-n + 4) {
        padding-right: 14px;
    }
    .page-numbers:nth-last-child(-n + 4)::after {
        content: none;
    }
}
