<div class="back">
    <app-navbar></app-navbar>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="animated fadeInUp">
      
            <div class="container">
                <input type="text" formControlName="search" placeholder="Search...">
                <div class="search"></div>
            </div>
   
        <div class="container m-auto text-center" id="radios">
            <label for="watchlist">
                <input type="radio" formControlName="type" id="watchlist" value="watchlist" checked />
                <span>🎞️</span>
            </label>
            <label for="review">
                <input type="radio" formControlName="type" id="review" value="review" />
                <span>📚</span>
            </label>
            <label for="profile">
                <input type="radio" formControlName="type" id="profile" value="profile" />
                <span>👥</span>
            </label>
            <label for="tv show">
                <input type="radio" formControlName="type" id="tv show" value="tvShow" />
                <span>📺</span>
            </label>
            <label for="movie">
                <input type="radio" formControlName="type" id="movie" value="movie" />
                <span>🎥</span>
            </label>
            <div class="row text-center p-5">
                <button type="submit" class="btn btn-success m-auto p-2" [disabled]="searchForm.invalid"
                    style='border-radius: 17px;'>SUBMIT</button>
            </div>
        </div>
    </form>
    <app-footer></app-footer>
</div>