footer {
    background: #00000093;
    height: 125px;
    color: white;
    padding: 50px;

    position: absolute;
    bottom: 0;

    width: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}