footer {
    background: #0000003a;
    background-attachment: fixed;
    background-position: center;
    display: inline-block;
    height: 125px;
    width: 100%;
    padding: 50px;
    position: absolute;
    bottom: 0;
    align-content: space-around;

    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    z-index: -100px;
}
