<footer><div style="display: inline;">   
    <img src="./../../assets/img/tmdb.png" alt="TMDB" height="65">
    <p class="lead pl-5 font-weight-bold" style="display: inline;">The Moviest © 2019.</p>
    
    </div>
    <div style="float: right;">
        <a href="https://github.com/ltatarev/the-moviest" target="blank">
        <img class="p-1" src="../../../assets/img/github.png" alt="Github" height="35">
    </a>
    <a href="https://www.instagram.com/crvenamedeia/" target="blank">
        <img class="p-1" src="../../../assets/img/instagram-logo.png" alt="Github" height="33">
    </a>
</div>
</footer>
