<div class="back">
    <app-navbar></app-navbar>
    <div class="container mb-5 text-dark animated fadeIn">
        <section class="product">
            <div class="product__photo">
                <div class="photo-container">
                    <div class="photo-main">
                        <img src="{{ tv?.poster_path}}" style="width: 100%; " />
                    </div>
                </div>
            </div>
            <div class="product__info">
                <div class="price">
                    <span>{{ tv.original_name }}</span>
                </div>
                <div class="description">
                    <p>{{ tv.overview }}</p>
                    <hr>
                    <h3 style="display: inline; padding: 7px;"> Genres:</h3>
                    <p *ngFor="let genre of tv.genres"  class="font-italic" style="display: inline; padding: 7px;">
                        {{ genre.name }}
                    </p>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>