.back {
    background-image: url("../../../assets/img/bg/14.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-bottom: 155px;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    padding-bottom: 70px;
}

h3 {
    font-size: 0.7em;
}

img {
    width: 300px;
    -webkit-filter: drop-shadow(1px 1px 3px #a6a6a6);
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}

.btnPink {
    border-radius: 10px;
    background: linear-gradient(
            to left,
            rgba(190, 117, 174, 0.795) 30%,
            rgba(133, 124, 219, 0.795) 100%
        )
        left bottom rgba(255, 255, 255, 0) no-repeat;
    transition: 0.5s all;
    padding: 7px;
    color: white;
}

.btnPink:hover {
    background: none;
    border: 1px solid palevioletred;
    border-radius: 10px;
    color: palevioletred;
    transition: 0.5s all;
}

/* ----- Product Section ----- */
.product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    padding: 1em 0em;
    padding-right: 1em;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

/* ----- Photo Section ----- */
.product__photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.photo-main img {
    position: absolute;
    -webkit-filter: saturate(150%) contrast(120%) hue-rotate(10deg)
        drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    filter: saturate(150%) contrast(120%) hue-rotate(10deg)
        drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}

/* ----- Informations Section ----- */
.product__info {
    padding: 5px;
}

.title h1 {
    padding-bottom: 10px;
    color: #4c4c4c;
    font-size: 25px;
}
.title span {
    font-size: 0.6em;
}

.price {
    font-weight: bold;
    margin: 10px;
    line-height: 1.6em;
    font-size: 1.2em;
}
.price span {
    font-size: 2em;
    padding-bottom: 2px;
    background: linear-gradient(
            to left,
            rgba(170, 84, 151, 1) 30%,
            rgba(77, 60, 221, 1) 100%
        )
        left bottom rgba(255, 255, 255, 0) no-repeat;
    background-size: 100% 12px;
}

.description {
    clear: left;
    margin: 2em 0;
}
.description p {
    margin-bottom: 1em;
    font-size: 14px;
}
