<div class="back">
    <app-navbar></app-navbar>
    <div class="container-fluid text-light">
        <div class="row p-4"> 
            <div class="col-4"><img [src]='movie.poster_path' style="object-fit: cover; width: 600px;"></div>
            <div class="col">
                    <h1 class='display-1'>{{movie.original_title}}</h1>
                    <h2 class='display-2'>{{movie.tagline}}</h2>
                <p>{{movie.overview}}</p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
