<div class="back animated fadeIn">
    <app-navbar></app-navbar>
    <div class="container mb-5 text-dark">
        <section class="product">
            <div class="product__photo">
                <div class="photo-container">
                    <div class="photo-main">
                        <img src="{{ movie?.poster_path}}" style="width: 100%; " />
                    </div>
                </div>
            </div>
            <div class="product__info">
                <div class="price">
                    <span>{{ movie.original_title }}</span>
                </div>
                <div class="title font-italic pt-3">
                        <h1> {{ movie.tagline }}</h1>
                    </div>
                <div class="description">
                        <p>{{ movie.overview }}</p>
                       <hr>
                    <h3  style="display: inline; padding: 7px;"> Genres:</h3>
                    <p *ngFor="let genre of movie.genres" class="font-italic" style="display: inline; padding: 7px;">
                        {{ genre.name }}
                    </p>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>