.back {
    background-image: url("../../../assets/img/bg/10.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 125px;
    min-height: 100vh; /* will cover the 100% of viewport */
    padding-bottom: 125px;
}
