<div class="back animated fadeIn">
    <app-navbar></app-navbar>
    <div class="container">
        <div
            class="box"
            *ngFor="let review of reviews"
            (click)="openReview(review)"
        >
            <div class="boxContent">
                <i class="fas fa-film icon"></i>
                <h1 class="title">{{ review.title }}</h1>
                <h3 class="movie">{{ review.movie.movieTitle }}</h3>
                <p class="desc font-italic">
                    {{ review.author_id.username }}
                </p>
            </div>
        </div>
    </div>
    <!-- P A G I N A T I O N -->
    <div class="pagination-wrapper">
        <div class="pagination">
            <a
                *ngIf="currentPage > 1"
                class="prev page-numbers"
                (click)="goToFirstPage()"
                >first</a
            >
            <a
                *ngIf="currentPage > 1"
                class="page-numbers"
                (click)="goToPrevPage()"
                >{{ prevPage }}</a
            >
            <span class="page-numbers current">{{ currentPage }}</span>
            <a
                *ngIf="nextPage <= lastPage"
                class="page-numbers"
                (click)="goToNextPage()"
                >{{ nextPage }}</a
            >

            <a
                *ngIf="nextPage < lastPage"
                class="next page-numbers"
                (click)="goToLastPage()"
                >last</a
            >
        </div>
    </div>
    <app-footer></app-footer>
</div>
